/* ---------------------------------------------------------------------------------------------------------------------
Table of Contents
0. SITE LAYOUT
1. NAVIGATION
2. HOME PAGE
3. ABOUT PAGE
4. PROJECTS PAGE
5. CAREERS
6. CONTACT
7. FOOTER
8. RESPONSIVE
--------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------
0. SITE LAYOUT
--------------------------------------------------------------------------------------------------------------------- */
:root{
  --grey: #4e4d4e;
  --orange:#bd8647;
}

html{
  font-size: 10px;
  width: 100%;
  height: 100%;
}

h1{
  font-size:3.5em;
}

h2{
  font-size:3em;
}

p{
  font-size: 1.6em;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-weight: lighter;
  height: 100vh;
}

.page-text{
  font-family: 'Dosis', sans-serif;
  color: var(--grey);
}

.page-heading{
  margin-bottom: .5em;
  margin-top: 3rem;
  font-size: 4rem;
}

/* ---------------------------------------------------------------------------------------------------------------------
1. NAVIGATION
--------------------------------------------------------------------------------------------------------------------- */
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  padding: 1em;
  background-image: url('images/header-background.png');
  width: 100%;

}

.header-logo{
  width: 110px;
}

.home-header {
  background-image: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: end;

}

nav a, .overlay-nav a{
  padding: 0 1em;
  color: #bd8647;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  font-size: 2.25em;
  transition: color .5s

}

nav a:hover, .overlay-nav a:hover{
  text-decoration: none;
  color: white;

}

.hamburger-nav{
  display:none;
}

.overlay {
      position: fixed;
      background: rgba(0, 0, 0, 0.8);
      top: 68px;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

.overlay-nav a{
  display: block;
  margin: 1em auto;
  text-align: center;
  font-size: 4em;
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------
2. HOME PAGE
--------------------------------------------------------------------------------------------------------------------- */
body#home {
  background-image: url('images/home-background.png');
  background-size: cover no-repeat;

}

.home-wrapper{
  display:grid;
  grid-template-rows: 1fr auto;
  height: 80vh;
  justify-items: center;
}

#home-logo {
  display:grid;
  width: 45%;
  justify-items: center;
  align-content: center;
}

#home-logo img{
  width: 100%;
}

#home-text{
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
}


/* ---------------------------------------------------------------------------------------------------------------------
3. ABOUT PAGE
--------------------------------------------------------------------------------------------------------------------- */
.page-wrapper{
  display:grid;
  grid-template-rows: repeat(2, auto);
  font-family: 'Dosis', sans-serif;
}
.page-top {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 3em;
}

.gear{
  width: 50vw;
}

.bold {
  font-weight: bold;
}

.about-bottom {
  background-color:#4e4d4e;
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.about-bottom-text {
  margin: 3em;
  color: white;
}

.about-bottom h1 {
  font-size: 5.25em;
  font-weight: bold;
  margin-bottom: .5em;
}

.about-bottom p {
  font-size: 2em;
}

.about-bottom img {
  width: 100%;
  object-fit: contain;
}

.about-line{
  border: 0;
  height: 3px;
  background-color: white;
  width: 50%;
  margin: 0 0 1em 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
4. PROJECTS PAGE
--------------------------------------------------------------------------------------------------------------------- */
.projects-wrapper{
  display:grid;
  grid-template-rows: repeat(auto, minmax(50px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  font-family: 'Dosis', sans-serif;
  /* height: 100vh; */
}

.project-container{
  display:grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  border-bottom: 2px solid #4e4d4e;
  padding: 20px 100px;
  margin: 3em;
  text-align: right;
}

.project-container:nth-child(odd) .project-text{
  order:2;
  text-align: left;

}
.project-container:nth-child(odd) img{
  order:1;
}

.project-details {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 20px;
  width: 80%;
  color: var(--grey);
}

.project-details h1{
  color: var(--orange);
}

.project-details img{
  width: 100%;
}

.launch-button {
  margin: 40px;
  grid-column: span 2;
  border-radius: 10px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  padding: 0 60px;
  color:white;
  font-size: 2.5vw;
}

.launch-button:hover {
  text-decoration: none;
  color:var(--orange);
  background-color: white;
  border: 1px solid var(--orange);
}


.project-divider{
  height: 1px;
  background-color: var(--grey);
}

/* ---------------------------------------------------------------------------------------------------------------------
5. CAREERS PAGE
--------------------------------------------------------------------------------------------------------------------- */
.careers-top {
  display:grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  margin: 0 3em;
  color: var(--grey);
}

.career-heading{
  grid-column: 1/-1;
}

.career-left p{
  font-size: 1.9em;
  margin-bottom: 3rem;
}

.view-openings{
  border:1px solid var(--orange);
  background-color: white;
  color: var(--orange);
  border-radius: 10px;
  padding: 3px 40px;
  font-size: 1.5em;
  text-decoration: none;
}

.view-openings:hover{
  text-decoration: none;
  background-color: var(--orange);
  color:white;
}

.career-quote-block{
  background-color: var(--orange);
  margin: 40px 0;
  color:white;
  display:grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
  grid-gap: 40px;
}

.career-quote-block img{
  width: 100%;
}

.career-quote{
  font-size:2.5vw;
  margin: .5em;
}

.career-person{
  font-size:2vw;
  margin: .5em;
}

.benefits{
  margin: 1em 3em;
  display:grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  padding-bottom: 3em;
  color: var(--grey);
  border-bottom: 2px solid var(--grey);
}

.benefits h2{
  grid-column: 1/-1;
  font-size: 3rem;
}

.benefit h3{
  color: var(--orange);
 }

 .current-openings{
   margin: 3em;
   color: var(--grey);
 }

 .current-openings h2{
   text-align: center;
   margin-bottom: 6rem;
 }

 /* .current-openings p{
   font-size: 2.5rem;
 } */

 .icon-text{
   margin: 20px 0;
   display:grid;
   grid-gap: 20px;
   grid-template-columns: 40px 1fr;
   /* align-items: center; */
 }

 .icon-text p{
   font-size: 2.5rem;

 }

 .icon-text img{
   width: 100%;
 }

 .job:hover img{
   transform: rotate(90deg)

 }

 /* ---------------------------------------------------------------------------------------------------------------------
 6. CONTACT PAGE
 --------------------------------------------------------------------------------------------------------------------- */
.contact-wrapper{
  margin: 0 3em;
  font-family: 'Dosis', sans-serif;
  color: var(--grey);
  align-content: start;
}

.contact-form form{
  width: 600px;
}

.contact-form input, textarea{
  margin: .3rem;
  width: 100%;
  height: 38px;
  border: 2px solid var(--grey);
  border-radius: 10px;
  padding: 5px;
  font-size: 1.75rem;
}

.contact-form input:focus, textarea:focus{
  outline:none;
}

.contact-form textarea{
  height: 150px;
}

input.submit{
  background-color: var(--orange);
  color:white;
  border:2px solid var(--orange);
}

input.submit:hover {
  background-color: white;
  color:var(--orange);
  border:2px solid var(--orange);
}

.contact-heading{
  grid-column: 1/-1;
}

.contact p{
  font-size: 2rem;
}




/* ---------------------------------------------------------------------------------------------------------------------
7. FOOTER
--------------------------------------------------------------------------------------------------------------------- */

footer {
  display:grid;
  justify-content: center;
  place-items: center center;
  grid-template-columns: repeat(3, auto);
  padding: .5em;
  background-color: white;
  grid-row: span 1 / -1;
  grid-column-gap: 0;
  text-align: center;
}

.footer-home{
  background-color: transparent;
}

.footer-social {
  width: 25%;
}

/* ---------------------------------------------------------------------------------------------------------------------
8. RESPONSIVE MEDIA QUERIES
--------------------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 800px) {

  section#home-text{
    padding: 0 3em;
  }
  /*-------------------------------------------------------------------------------------------------------------------
  ABOUT */

  .gear {
    display:none;
  }

  .about-bottom h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .5em;
  }

  .about-bottom p {
    font-size: 1.5em;
  }
  /*-------------------------------------------------------------------------------------------------------------------
  CAREERS */
  .careers-top {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

  }
  /*-------------------------------------------------------------------------------------------------------------------
  CONTACT */

  .contact-form form{
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {

  nav{
    display:none;
  }

  .hamburger-nav{
    display:block;
    width: 50px;
  }

  /*-------------------------------------------------------------------------------------------------------------------
  PROJECTS */

  .project-details {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .project-container:nth-child(odd) .project-text{
    order:0;
  }

  .project-container{
    padding: 20px 50px;
    text-align: left;
  }
  /*-------------------------------------------------------------------------------------------------------------------
  CAREERS */

  .career-quote-block{
    background-color: var(--orange);
    margin: 40px 0;
    color:white;
    display:grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
    grid-gap: 0px;
  }

  .career-quote{
    font-size:2em;
    margin: .5em;
  }

  .benefits{
    grid-template-columns: repeat(2, auto);
  }
  /*-------------------------------------------------------------------------------------------------------------------
  CONTACT */


@media only screen and (max-width: 1190px) {
  .project-container{
    grid-template-columns: 1fr;
    padding: 20px 50px;
    text-align: left;
  }

}
