/* ---------------------------------------------------------------------------------------------------------------------
NAVIGATION
--------------------------------------------------------------------------------------------------------------------- */
nav {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

nav a{
  padding: 1em;
  color: #bd8647;
  font-family: 'Dosis-light', sans-serif;
  font-size: 1.25em;
  transition: color .5s

}

nav a:hover{
  text-decoration: none;
  color: white;

}

/* ---------------------------------------------------------------------------------------------------------------------
HOME PAGE
--------------------------------------------------------------------------------------------------------------------- */
body#home {
  background-image: url('images/home-background.png');
  background-size: cover no-repeat;

}

#home-logo {
  margin:auto;
  position: absolute;
  top: 35%;
  width: 100%;
}

#home-logo img{
  width: 45%;
  display:block;
  margin: auto;
}

#home-text{
  color: white;
  text-align: center;
  position:absolute;
  bottom: 8%;
  width: 100%;
  font-family: 'Dosis-extralight', sans-serif;

}

/* ---------------------------------------------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------------------------------------------- */

footer {
  display:flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
  padding: .5em;
}

.footer-social {
  margin: .4em;
  width: 50%;
}
