/* ---------------------------------------------------------------------------------------------------------------------
Table of Contents
0. SITE LAYOUT
1. NAVIGATION
2. HOME PAGE
3. ABOUT PAGE
4. PROJECTS PAGE
5. FOOTER
--------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------
0. SITE LAYOUT
--------------------------------------------------------------------------------------------------------------------- */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* ---------------------------------------------------------------------------------------------------------------------
1. NAVIGATION
--------------------------------------------------------------------------------------------------------------------- */
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  padding: 1em;
  background-image: url('images/header-background.png');
  width: 100%;

}

.home-header {
  background-image: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: end;

}

nav a{
  padding: 0 1em;
  color: #bd8647;
  font-family: 'Dosis-light', sans-serif;
  font-size: 1.75vw;
  transition: color .5s

}

nav a:hover{
  text-decoration: none;
  color: white;

}

/* ---------------------------------------------------------------------------------------------------------------------
2. HOME PAGE
--------------------------------------------------------------------------------------------------------------------- */
body#home {
  background-image: url('images/home-background.png');
  background-size: cover no-repeat;

}

.home-wrapper{
  display:grid;
  grid-template-rows: 1fr auto;
  height: 80vh;
  justify-items: center;
}

#home-logo {
  display:grid;
  width: 45%;
  justify-items: center;
  align-content: center;
}

#home-logo img{
  width: 100%;
}

#home-text{
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Dosis-extralight', sans-serif;

}


/* ---------------------------------------------------------------------------------------------------------------------
3. ABOUT PAGE
--------------------------------------------------------------------------------------------------------------------- */

.page-top {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.page-top img{
  position: relative;
  right: 0;
  object-fit: contain;
}

.page-text{
  margin: 3em;
  font-family: 'Dosis', sans-serif;
  color: #4e4d4e;
}

.page-text h1{
  margin-bottom: .5em;
  font-size: 4vw;
}

.bold {
  font-weight: bold;
}

.about-bottom {
  background-color:#4e4d4e;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.about-bottom-text {
  margin: 3em;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.about-bottom h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: .5em;
}

.about-bottom p {
  font-size: 1.5vw;
}

.about-bottom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-line{
  border: 0;
  height: 3px;
  background-color: white;
  width: 50%;
  margin: 0 0 1em 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
4. PROJECTS PAGE
--------------------------------------------------------------------------------------------------------------------- */
.project-wrapper{
  width: 80%;
}



.project-divider{
  height: 3px;
  background-color: #4e4d4e;
  margin: auto;
}


/* ---------------------------------------------------------------------------------------------------------------------
5. FOOTER
--------------------------------------------------------------------------------------------------------------------- */

footer {
  display:flex;
  justify-content: center;
  width: 100%;
  padding: .5em;
  background-color: white;
  grid-row: span 1 / -1
}

.footer-home{
  background-color: transparent;
}

.footer-social {
  margin: .4em;
  width: 50%;
}
